{% extends 'base.html' %}

{% block title %}Pages{% endblock %}
{% block content %}

  <div class="file-upload d-flex justify-content-center">
    <form method="POST" enctype="multipart/form-data">
      <label class="font-weight-bold h6 mb-3">Import Data</label>
      
      <div class="file-select mb-3">
        <div class="file-select-button" id="fileName">Choose File</div>
        <div class="file-select-name" id="noFile">No file chosen...</div>
        <input type="file" name="input_file" id="chooseFile" accept="application/pdf" required>
      </div>
      <input type="text" name="search_key" class="col-md-12 mb-3" id="" placeholder="Search Term" required>
      {% if success %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          Uploaded successfully
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
      <div>
        <input type="submit" value="Upload" class="btn btn-primary">
      </div>
    </form>
  </div>

{% endblock %}